{% extends 'index.html' %}

{% block main %}
<div class="container mt-4 text-light">
    
    <h2 class="text-center mb-4 text-primary"><b>Agregar Descuento</b></h2>

    <form method="post"class="w-50 mx-auto p-4 rounded" style="background-color: #308a9e; border: 1px solid #333;">
        {% csrf_token %}
        
        <div class="mb-3">
            {{ form.producto.label_tag }}
            {{ form.producto }}
        </div>

        <div class="mb-3">
            {{ form.descripcion.label_tag }}
            {{ form.descripcion }}
        </div>

        <div class="mb-3">
            {{ form.descuento.label_tag }}
            {{ form.descuento }}
        </div>

        <div class="mb-3">
            {{ form.fecha_inicio.label_tag }}
            {{ form.fecha_inicio }}
        </div>

        <div class="mb-3">
            {{ form.fecha_final.label_tag }}
            {{ form.fecha_final }}
        </div>

        <button type="submit" class="btn btn-success">Guardar Descuento</button>
    </form>

</div>
{% endblock %}
