{% extends 'index.html' %}
{% load static %}

{% block main %}
<div class="container my-4 p-4 rounded" style="background-color: #dc3545;">
    <h2 class="text-white">Eliminar Descuento</h2>
    <p class="text-white">¿Estás seguro de que deseas eliminar este descuento?</p>

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-light">Confirmar Eliminación</button>
        <a href="{% url 'consultar_descuento' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
