#projector {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1; /* Para que quede de fondo detrás de todo */
  display: block;
}

html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}