{% extends 'index.html' %}
{% block main %}
    <div class="container-form">
      <h2>Agregar Proveedor</h2>
        <form class="form" method="post">
          <label for="nombre">Nombre</label>
          <input type="text" name="" id="">
          <label for="nombre">Modelo</label>
          <input type="text" name="" id="">
          <label for="nombre">Color</label>
          <input type="text" name="" id="">
          <label for="nombre">Numero de Serie</label>
          <input type="text" name="" id="">
          <label for="nombre">Tipo de producto</label>
          <input type="text" name="" id="">
        </form>
      <div class="save-content">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          Guardar
        </button>
        <input type="submit" value="cancelar" class="btn btn-outline-danger">
      </div>
      <!-- Modal -->
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">¿Seguro que desea guardar ?</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Understood</button>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}

