 {% extends 'index.html' %}

{% block main %}
<div class="container mt-4 text-light"></div>

  <h2 class="text-center mb-1"><b>Agregar Producto</b></h2>
        
        
          <form method="post" action="{% url 'crear_producto' %}" class="w-25 mx-auto p-4 rounded" style="background-color: #308a9e; border: 1px solid #333;">
            {% csrf_token %}

              <div class="mb-3">
                  {{ form_Producto }}
              </div>  

            <div class="d-flex justify-content-between mt-4">
              <button type="submit" class="btn btn-success px-4">Guardar</button>
              <a href="{% url 'consultar_producto' %}" class="btn btn-outline-danger px-4">Cancelar</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
