{% extends 'index.html' %}

{% block main %}
    <div class="container-form">
      <h2>Agregar Empleado</h2>
        <form class="form" >
          <form method="post" action="">
          <label for="nombre">Nombre</label>
          <input type="text" name="nombre" id="">
          <label for="apellido">Apellido</label>
          <input type="text" name="apellido" id="">
          <label for="cedula">Cedula</label>
          <input type="text" name="cedula" id="">
          <label for="cargo">Cargo</label>
          <input type="text" name="cargo" id="">
        </form>
     
        <div class="save-content">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          Guardar
          </button>
          <input type="submit" value="cancelar" class="btn btn-outline-danger">
        </div>
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">¿Seguro que desea guardar ?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <input type="submit" class="btn btn-primary" value="Guardar Datos">
              </div>
            </div>
          </div>
        </div>
        

      </form>

{% endblock %}
